* {
  margin: 0;
  padding: 0;
}

.card-container {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.card-container__card {
  width: 30vw;
  // height: 40vw;
  margin-bottom: 40px;
  cursor: pointer;
  border: 1px solid rgba(211, 211, 211, 0.301);
}

.card-container__card:hover {
transform: scale(1.001);
box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
border: none;
}

.card-container__card__image {
  width: 100%;
  height:39vw;
  background-size: cover;
  background-position-y: -10px;
}

.card-container__card__card-name {

  font-family: Helvetica, sans-serif;
  font-size: 17px;
  margin-top: 10px;
  margin-left: 3px;
  font-weight: 700;
}

.card-container__card__card-price {
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  margin-right: 3px;
  font-weight: 900;
  text-align: right;
}

// @media screen and (width:1024px){
//   .card-container__card {
//     width: 350px;
//     height: 580px;
//     margin-bottom: 40px;
//   }
// }

// @media screen and (width:768px){
//   .card-container__card {
//     width: 33%;
//     height: 580px;
//     margin-bottom: 40px;
//   }
// }

@media screen and (max-width:425px){
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-container__card {
    width: 98vw;
    height: 140vw;
  }
  .card-container__card__image {
    height:125vw;
    background-position-y: -10px;
  }
  
}
@media screen and (max-width:375px){
  .card-container__card {
    width: 98vw;
    height: 142vw;
  }
}
@media screen and (max-width:320px){
  .card-container__card {
    width: 98vw;
    height: 152vw;
  }
}