.registration {
  margin-top: 5%;
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.registration__reg-info {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 50%;
}

// .registration__reg-info__logo {

// }

.registration__reg-info__name {
  font-family: 'helvetica';
  font-weight: 800;
  text-align: left;
  font-size: calc(24px + 8*(100vw - 768px)/672);
  ;
  line-height: calc(24px + 8*(100vw - 768px)/672);
}

.registration__reg-img {
  background-image: url(./../../../assets/Images/home-page/H1_21_REDTAB_BENEFIT_TILE_EVERGREEN.jpeg);
  width: 50%;
  height: 100%;
  background-size: cover;

}

.registration__reg-info__desc {
  margin-top: 4%;
  font-family: 'helvetica';
  font-size: 17px;
  font-weight: normal;
  line-height: 24px;

}

.registration__reg-info__btns {
  display: flex;
  margin-top: 4%;
  text-align: left;
  font-family: 'helvetica';
  font-weight: 700;
}

.registration__reg-info__btns__btn {
  margin-right: 5%;
  display: block;
  cursor: pointer;
}


.registration__reg-info__btns__btn__underline {
  display: block;
  color: red;
  margin: 0;
}

.registration__reg-info__btns__btn__name {
  display: block;
  margin-bottom: 10%;
}

.registration__reg-info__btns__btn__name:hover {
  margin-bottom: 0;
  transition: 0.4s;
}

.registration__reg-info__btns__btn__name:not(:hover) {
  margin-bottom: 10%;
  transition: 0.4s;
}

.category-cards-container {
  width: 100%;
  height: 90vh;
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.category-cards-container__cards {
  height: 100%;
  width: 50%;
  margin-right: 5%;
  position: relative;
}

.category-cards-container__cards__kids {
  position: absolute;
  height: 70%;
  width: 60%;
  right: 5%;
  top: 5%;
  background-image: url(./../../../assets/Images/home-page/kids.jpeg);
  background-size: cover;
  z-index: 0;
}

.category-cards-container__cards__women {
  position: absolute;
  height: 70%;
  width: 60%;
  right: 12%;
  top: 12%;
  background-image: url(./../../../assets/Images/home-page/women.jpeg);
  background-size: cover;
  z-index: 1;
}

.category-cards-container__cards__men {
  position: absolute;
  height: 70%;
  width: 60%;
  right: 19%;
  top: 19%;
  background-image: url(./../../../assets/Images/home-page/men.jpeg);
  background-size: cover;
  z-index: 2;
}

.category-cards-container__categories {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  font-weight: 800;
  font-size: 32px;
  font-family: 'helvetica';
  color: gray;
}
.category-cards-container__categories__category{
  cursor: pointer;
}

.main-category-card {
  z-index: 4;
  color: black;
}

@media screen and (max-width:1024px){
  .registration__reg-img {
    width: 50%;
    height: 60%;
    background-size: cover;
  
  }
}
@media screen and (max-width:768px){
  .registration__reg-img {
    width: 50%;
    height: 45%;
    background-size: cover;
  
  }
}
@media screen and (max-width:425px){
  .registration{
    margin-top: 0;
    height: 40vh;
    display: none;
  }
  .registration__reg-info{
    width: 100%;
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .registration__reg-img{
    display: none;
  }
  .registration__reg-info__btns{
    text-align: center;
    display: none;
    width: 100%;
    justify-content: center;
  }
  .registration__reg-info__btns__btn{
    width: 40%;
  }
  .category-cards-container{
    height: 40vh;
  }
  .category-cards-container__categories{
    font-size: 15px;
    width: 30%;
  }
  .category-cards-container__cards{
    width: 60%;
  }
  .category-cards-container {
    display: none;
  }
}