
<div class="special-offer">

<div class="special-offer__offer-name">
<p class="special-offer__offer-name__top">Presidents' Day Sale</p>
<p class="special-offer__offer-name__bot">30% OFF SITEWIDE</p>
<p class="special-offer__offer-name__offer-desk"> Available online and in stores with code: PREZ30 </p>
</div>

<div class="special-offer__buttons">
    <div class="special-offer__button">
        SHOP MEN
    </div>
    <div class="special-offer__button">
SHOP WOMEN
    </div>
    <div class="special-offer__button">
SHOP KIDS
    </div>
</div>

</div>
