* {
  margin: 0;
  padding: 0;
}

carousel {
  z-index: 1;
width: 100%;
}

.detail-container {
  width: 100%;
  display: flex;
  justify-content: space-around;

}

.detail-container__images {
  height: 90vh;
  width: 40%;
}

.detail-container__about-and-buy {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.detail-container__about-and-buy__product-name {
  margin: 2% 0 0 0;
  font-size: 20px;
  font-family: 'interstateBold', Arial, sans-serif;
  font-weight: 900;
}

.detail-container__about-and-buy__select-size {
  font-family: 'interstateBold', Arial, sans-serif;
  margin-top: 3%;
}



.detail-container__about-and-buy__select-size-form-radio-btn {
  display: inline-block;
  margin-right: 10px;
  font-family: 'interstateBold', Arial, sans-serif;
  margin-top: 0;
}

.detail-container__about-and-buy__select-size-form-radio-btn input[type=radio] {
  display: none;
}

.detail-container__about-and-buy__select-size-form-radio-btn label {
  display: inline-block;
  cursor: pointer;
  padding: 0px 15px;
  line-height: 34px;
  border: 1px solid #999;
  border-radius: 6px;
  user-select: none;
}

/* Checked */
.detail-container__about-and-buy__select-size-form-radio-btn input[type=radio]:checked+label {
  background: black;
  color: white;
}

/* Hover */
.detail-container__about-and-buy__select-size-form-radio-btn label:hover {
  color: #666;
}

/* Disabled */
.detail-container__about-and-buy__select-size-form-radio-btn input[type=radio]:disabled+label {
  background: #efefef;
  color: #666;
  cursor: unset;
}

.detail-container__about-and-buy__quantity-price {
  display: flex;
}

.detail-container__about-and-buy__quantity-price__product-quantity {
  display: flex;
  margin-right: 1%;
}

.detail-container__about-and-buy__quantity-price__product-quantity__number {
  display: block;
  font-size: 25px;
  font-weight: 700;
  line-height: 2vw;
  height: 2vw;
  width: 2vw;
  text-align: center;
}

.detail-container__about-and-buy__quantity-price__product-quantity__btn {
  background-color: white;
  border: 1px solid #999;
  height: 2vw;
  width: 2vw;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 700;
  line-height: 2vw;
}


.detail-container__about-and-buy__quantity-price {
  margin-top: 3%;
  display: flex;
  font-family: 'interstateBold', Arial, sans-serif;
  font-weight: 900;
  font-size: 15px;
  font-weight: 700;
  line-height: 2vw;
}

.detail-container__about-and-buy__add-to-cart-btn {
  margin-top: 3%;
  border: 1px solid black;
  height: 30px;
  border-radius: 6px;
  background-color: white;
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 15px;
}

.detail-container__about-and-buy__add-to-cart-btn:active {
  background-color: rgba(224, 222, 222, 0.329);
  transform: scale(1.01);
}


.detail-container__about-and-buy__description {
  width: 100%;
  margin-top: 3%;
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  line-height: 28px;
}

.detail-container__about-and-buy__description__tezis {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 7%;
}

.detail-container__about-and-buy__description__tezis__how-it-fits {
  width: 45%;
  text-align: left;

  p {
    font-weight: 700;
  }
}

.detail-container__about-and-buy__description__tezis__composition-and-care {
  width: 45%;
  text-align: left;

  p {
    font-weight: 700;
  }
}

.tezis {
  color: grey;
  font-size: 15px;
  display: inline-block;
}

// laptop

@media screen and (max-width:1024px) {
  .detail-container__images {
    width: 50%;
  }

  .detail-container__about-and-buy {
    width: 45%;
    display: flex;
    flex-direction: column;
  }
}
// tablet
@media screen and (max-width:768px) {
  .detail-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }

  .detail-container__images {
    height: 93vh;
    width: 100%;
  }
  
  .detail-container__about-and-buy {
    width: 98%;
    display: flex;
    flex-direction: column;
  }

  .detail-container__about-and-buy__quantity-price__product-quantity__btn {
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
  }
  .detail-container__about-and-buy__quantity-price__product-quantity__number {
    line-height: 25px;
    height: 25px;
    width: 35px;
    text-align: center;
  }
  
  
.detail-container__about-and-buy__quantity-price {
  margin-top: 3%;
  display: flex;
  font-family: 'interstateBold', Arial, sans-serif;
  font-weight: 900;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
}

  .detail-container__about-and-buy__description__tezis {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 7%;
  }
  .detail-container__about-and-buy__description__tezis__how-it-fits {
    width:48%;
    text-align: center;
  }
  .detail-container__about-and-buy__description__tezis__composition-and-care {
    width: 48%;
    text-align: center;
  }

}

// moobile L

@media screen and (max-width:425px) {

  .detail-container__images {
    height: 78vh;
    width: 100%;
  }
  
  .detail-container__about-and-buy {
    width: 98%;
    display: flex;
    flex-direction: column;
  }

  .detail-container__about-and-buy__quantity-price__product-quantity__btn {
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
  }
  .detail-container__about-and-buy__quantity-price__product-quantity__number {
    line-height: 25px;
    height: 25px;
    width: 35px;
    text-align: center;
  }
  
  
.detail-container__about-and-buy__quantity-price {
  margin-top: 3%;
  display: flex;
  font-family: 'interstateBold', Arial, sans-serif;
  font-weight: 900;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
}


.detail-container__about-and-buy__add-to-cart-btn {
  margin-top: 3%;
  border: 1px solid black;
  height: 40px;
  width: 98%;
  border-radius: 6px;
  background-color: white;
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 15px;
}

  .detail-container__about-and-buy__description__tezis {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 7%;
  }
  .detail-container__about-and-buy__description__tezis__how-it-fits {
    width:98%;
    text-align: center;
  }
  .detail-container__about-and-buy__description__tezis__composition-and-care {
    width: 98%;
    text-align: center;
  }


}