<div class="offer-name">
  <span>{{offerName}}</span>
</div>
<div class="cards-container">

  <div class="cards-container__card" >
   
    <div class="cards-container__card__card-img">
   <img class="card-img" src="./../../../../assets/Images/home-page/offerCard1.jpeg" alt="">
    </div>

    <div class="cards-container__card__card-text">
      <div class="cards-container__card__card-text__name">
       <span> Levi's® x Fresco Steez /</span> <span class="cards-container__card__card-text__name__not-bold"> Learn More</span>
      </div>

      <div class="cards-container__cardcard-text__text">
        <span> In honor of Black History Month 2021, Levi's® partnered with Fresco to create a range of customization graphics that honor the deep legacy of Black political struggle.</span>
      </div>

    </div>

  </div>

  <div class="cards-container__card" >
  

    <div class="cards-container__card__card-img">
    <img class="card-img" src="./../../../../assets/Images/home-page/offerCard2.jpeg" alt="">
    </div>

    <div class="cards-container__card__card-text">
      <div class="cards-container__card__card-text__name">
        <span>Levi's® x Fresco Steez /</span><span class="cards-container__card__card-text__name__not-bold"> Shop the Collection</span>
      </div>

      <div class="cards-container__cardcard-text__text">
        <span>Our limited-time collab with Fresco Steez is here. We’ll also be making a donation to Power U Center for Social Change.</span>
      </div>

    </div>

  </div>

  <div class="cards-container__card" >
   

    <div class="cards-container__card__card-img">
     <img class="card-img" src="./../../../assets/Images/home-page/offerCard3.jpeg" alt="">
    </div>

    <div class="cards-container__card__card-text">
      <div class="cards-container__card__card-text__name">
        <span>Levi's® Red Tab™ Sweats /</span><span class="cards-container__card__card-text__name__not-bold"> Shop the Collection</span>
      </div>

      <div class="cards-container__cardcard-text__text">
        <span>Back by Popular Demand. Vintage fit. Unisex design. Made with 100% organic cotton.</span>
      </div>

    </div>

  </div>
  
</div>
