* {
  box-sizing: border-box;
}


.offer-name {
  margin: 30px 2vw;
  font-family: 'interstate';
  font-size: 30px;
  font-weight: 700;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.cards-container__card {
  width: 29vw;
  cursor: pointer;
}

.cards-container__card__card-img {
  width: 100%;
  height: 37vw;
  background-position: center;
  overflow: hidden;
  background-size: cover;
  border-radius: 1%;
}

.cards-container__card__card-text__name {

  font-family: Helvetica;
  font-weight: 700;
}

.cards-container__card__card-text__name__not-bold {
  font-size: 14px;
  font-weight: normal;
}

.cards-container__cardcard-text__text {
  margin-top: 10px;
  font-family: Helvetica;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.card-img:hover {
  transition: 0.4s ease-in-out;
  transform: scale(1.01);
}

.card-img:not(:hover) {
  transition: 0.4s ease-in-out;
  transform: scale(1);
}

@media screen and (max-width:320px) {
  .offer-name {
    margin: 2vh auto;
    text-align: left;
  }

  .cards-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cards-container__card {
    width: 100%;
    margin-bottom: 50px;
  }

  .cards-container__cardcard-text {
    padding-left: 2%;
  }

  .cards-container__card__card-text__name {
    text-align: left;
    padding-left: 1%;
  }
  .cards-container__cardcard-text__text{
    text-align: center;
   
  }
}

@media screen and (max-width:768px) {


  .cards-container__card__card-img {
    width: 100%;
    height: 60%;
    background-position: center;
  }

}
@media screen and (max-width:425px) {


  .offer-name {
    margin: 2vh auto;
    text-align: left;
  }

  .cards-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cards-container__card {
    width: 100%;
    margin-bottom: 50px;
  }

  .cards-container__cardcard-text {
    padding-left: 2%;
  }

  .cards-container__card__card-text__name {
    text-align: left;
    padding-left: 1%;
  }
  .cards-container__cardcard-text__text{
    text-align: center;
   
  }

}