<div class="container-fluid mb-3">

  <form action="" [formGroup]="productForm">

    <!-- Category -->
    <div class="form-group">

      <label for="category" class="form-label">Select Category</label>

      <select class="form-select mb-3" id="category" aria-label="Default select example"
        formControlName="productCategory" name="productCategory">

        <option *ngFor="let category of categoriesArr" [value]="category.name">{{category.name}}
        </option>

      </select>
    </div>

    <!-- Sub Category -->
    <div class="form-group">

      <label for="subCategory" class="form-label">Select Sub Category</label>

      <select class="form-select mb-3" aria-label="Default select example" formControlName="productSubCategory"
        name="productSubCategory" id="subCategory">

        <option *ngFor="let subCategory of subCategoriesArr" [value]="subCategory.name">{{subCategory.name}}</option>

      </select>

    </div>

    <!-- Product ID -->
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="PRODUCT ID" formControlName="productID" name="productID"
        id="productID">
    </div>
    <!-- Product Name -->
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="PRODUCT NAME" formControlName="productName"
        name="productName" id="productName">
    </div>
    <!-- Product Price -->
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Price" formControlName="productPrice">
    </div>

    <!-- Product Images -->
    <div class="d-flex justify-content-evenly mb-3">

      <div class=" d-flex flex-column">
        <label for="mainImg" class="form-label">Select Main Image</label>
        <input type="file" class="form-control disable" id="mainImg" (change)="uploadImage($event)"
          [disabled]="productForm.controls['productImages']['controls'].length>0">
      </div>


      <div class=" d-flex flex-column">
        <label for="img_1" class="form-label">Select Image 1</label>
        <input type="file" class="form-control " id="img_1" (change)="uploadImage($event)"
          [disabled]="productForm.controls['productImages']['controls'].length != 1">
      </div>


      <div class=" d-flex flex-column">
        <label for="img_2" class="form-label">Select Image 2</label>
        <input type="file" class="form-control " id="img_2" (change)="uploadImage($event)"
          [disabled]="productForm.controls['productImages']['controls'].length != 2">
      </div>

    </div>

  </form>

  <!-- Product Sizes -->
  <form [formGroup]="SizesForm">

    <div class="mb-3">

      <P>Available Sizes:</P>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="xsSizeAvailable" name="xsSizeAvailable" value="XS"
          formControlName="XS">
        <label class="form-check-label" for="xsSizeAvailable">XS</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="sSizeAvailable" name="sSizeAvailable" formControlName="S">
        <label class="form-check-label" for="sSizeAvailable">S</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="mSizeAvailable" name="mSizeAvailable" formControlName="M">
        <label class="form-check-label" for="mSizeAvailable">M</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="lSizeAvailable" name="lSizeAvailable" formControlName="L">
        <label class="form-check-label" for="lSizeAvailable">L</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="xlSizeAvailable" name="xlSizeAvailable"
          formControlName="XL">
        <label class="form-check-label" for="xlSizeAvailable">XL</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="xxlSizeAvailable" name="xxlSizeAvailable"
          formControlName="XXL">
        <label class="form-check-label" for="xxlSizeAvailable">XXL</label>
      </div>

    </div>
  </form>

  <!-- Description -->
  <form [formGroup]="AboutProductForm">
    <p>Description:</p>

    <!-- Technologies -->
    <div class="input-group mb-3">
      <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="description"
        formControlName="description" name="description"></textarea>
    </div>

    <!-- How It Fits -->

    <P>How It Fits:</P>


    <div formArrayName="howItFits">
      <div class="input-group mb-3"
        *ngFor="let howItFitsForm of AboutProductForm.controls['howItFits']['controls']; let i = index">
        <input type="text" class="form-control" placeholder="How It Fits" formControlName="{{i}}" name="howItFits">
      </div>
      <button class="btn  btn-success mb-3" type="button" id="HowItFits" (click)="addTesis('howItFits')">Add</button>

    </div>


    <!-- Composition And Care -->

    <P>Composition And Care:</P>
    <div formArrayName="compositionAndCare">
      <div class="input-group mb-3"
        *ngFor="let compositionAndCareForm of AboutProductForm.controls['compositionAndCare']['controls']; let i = index">
        <input type="text" class="form-control" placeholder="Composition And Care" formControlName="{{i}}"
          name="compositionAndCare">


      </div>
      <button class="btn  btn-success mb-3" type="button" id="CompositionAndCare"
        (click)="addTesis('compositionAndCare')">Add</button>
    </div>




  </form>
  <hr>

  <button class="btn btn-success" *ngIf="!changeStatus" (click)="addProduct()">add product</button>
  <button class="btn btn-success" (click)="updateProduct()" *ngIf="changeStatus">save</button>


</div>



<table class="table">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Category</th>
      <th scope="col">SubCategory</th>
      <th scope="col">Images</th>
      <th scope="col">Delete</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productArr">
      <th scope="row">{{product.productName}}</th>
      <td>{{product.productCategory}}</td>
      <td>{{product.productSubCategory}}</td>
      <td>
        <div class="d-flex justify-content-evenly">
          <img class=" img-preview" [src]="product.productImages[i]"
            *ngFor="let foto of product.productImages let i=index">
        </div>
      </td>
      <td><button class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button></td>
      <td><button class="btn btn-warning" (click)="getProductData(product.id,product)">Edit</button></td>
    </tr>

  </tbody>
</table>
