.special-offer {
  width: 100%;
  height: 85vh;
  background-image: url(/assets/Images/home-page/specialOffer.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.special-offer__offer-name {
  color: rgb(255, 219, 0);
  font-family: 'Helvetica Now Text';
  text-align: center;
  margin: 0;
  letter-spacing: .02em;

}

.special-offer__offer-name__top {
  font-size: 14px;
  font-weight: 700;
}

.special-offer__offer-name__bot {
  font-family: 'Interstate';
  font-size: 65px;
  font-weight: 700;
  margin: 2vh 0vh;
}

.special-offer__offer-name__offer-desk {
  color: white;
  font-size: 16px;
}

.special-offer__buttons {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: white;

}

.special-offer__button {
  border: 1px solid white;
  height: 50px;
  width: 200px;
  line-height: 50px;
  margin: 5%;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.special-offer__button:hover {
  background-color: white;
  color: black;
}

@media screen and (max-width:425px) {
  .special-offer {
    height: 30vh;
    background-size: cover;
    background-position-x: -15px;
    background-color: #fff;
  }
  .special-offer__offer-name__top{
    font-size: 14px;
  }
  .special-offer__offer-name__bot{
    font-size: 20px;
    margin: 1vh;
  }
  .special-offer__offer-name__offer-desk {
    font-size: 10px;
  }

  .special-offer__buttons {
    display: none;
  }

  .special-offer__button {
    height: 30px;
    width: 150px;
    line-height: 30px;
    font-size: 10px;
  }
}
