* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:host {
  display: block;
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;

}

.header {
  height: 6vh;
  width: 100%;
  display: flex;
  color: black;
  font-family: 'interstateBold', Helvetica, Arial, sans-serif;
  font-size: 16px;

}

.header__categories {
  padding-left: 4%;
  width: 15%;
  font-size: smaller;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 900;
  z-index: 12;
}

.header__categories__categori {
  z-index: 50;
  margin-right: 10%;
  cursor: pointer;
  display: block;
}

.header__categories__categori:after {
  background-color: #000000;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  transition: width .7s ease-in-out;
}

.header__categories__categori:hover:after,
.header__categories__categori:focus:after {
  width: 100%;

}


.header__logo {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;

  svg {
    border: none;
    outline: none;
  }
}


.header__search-basket {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: flex-end;

  svg {
    border: none;
    outline: none;
  }


}

.header__search-basket__basket {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  cursor: pointer;

  svg {
    border: none;
    outline: none;
  }

}

.header__search-basket__login {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-right: 10%;


  svg {
    border: none;
    outline: none;
  }
}

.header__search-basket__sign-out {
  height: 100%;
  display: flex;
  margin-right: 15%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  svg {
    border: none;
    outline: none;
  }
}


.header__search-basket__search {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  cursor: pointer;

  svg {
    border: none;
    outline: none;
  }
}




ul {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

button:active {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font: normal 16px/1.5 Helvetica, sans-serif;
}

.focus__blur {
  z-index: 1;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.404);
}

.focus__onfocus {
  display: block;
}

.left-menu {
  height: 100vh;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  left: -30vw;
  transition: all 0.3s linear;
}

.left-menu__open {
  left: 0;
}

.left-menu__categorises {
  z-index: 2;
  height: 100%;
  width: 25vw;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 10vh;
  padding-left: 3vw;
  box-shadow: 10px 0px 25px 0px rgba(0, 0, 0, 0.22);
}

.left-menu__categorises__category {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 20px;
  font-family: 'helvetica';
  font-weight: 900;
  display: block;
  cursor: pointer;
}



.left-menu__categorises__category:after {
  background-color: #000000;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  transition: width .7s ease-in-out;
}

.left-menu__categorises__category:hover:after,
.left-menu__categorises__category:focus:after {
  width: 100%;

}

.left-menu__sub-categories__sub-category {

  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  font-family: 'interstateBold', 'helvetica';
  font-weight: 700;
  display: block;
  cursor: pointer;
}

.left-menu__sub-categories__sub-category:after {
  background-color: #000000;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  transition: width .7s ease-in-out;
}

.left-menu__sub-categories__sub-category:hover:after,
.left-menu__sub-categories__sub-category:focus:after {
  width: 100%;

}


.left-menu__sub-categories {
  z-index: 1;
  width: 25vw;
  position: absolute;
  left: 0;
  height: 100%;
  background-color: white;
  transition: 0.3s linear;
}

.left-menu__sub-categories__open {
  left: 25vw;
}




.form {
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 17px;
  font-weight: 700;
  font-family: 'interstate';

  .form__input {
    display: block;
    margin-bottom: 20px;
    width: 90%;
    height: 50px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    min-width: 250px;
    outline: none;
    line-height: 50px;
    // color: rgba(0, 0, 0, 1);
    font-size: 17px;
    font-weight: 700;
    font-family: 'interstate';
  }

  .form__input:focus {
    border-bottom: 3px solid rgb(179, 179, 179);

  }

  .form__input.ng-touched.ng-valid {
    border-bottom: 1px solid rgb(60, 245, 43);
  }

  .form__input.ng-touched.ng-invalid {
    border-bottom: 3px solid rgb(255, 0, 0);
  }

  .form__btns {
    display: flex;
    justify-content: space-between;
    width: 130px;
    margin-bottom: 20px;

    .form__btns__btn {
      cursor: pointer;
    }




  }

}

@media screen and (max-width:425px) {
  .header {
    height: 7vh;

  
  }
  

  .left-menu {
  left: -55vw;

  }

  .left-menu__open {
    left: 0;
  }

  .left-menu__categorises {
    width: 47vw;
  }

  .left-menu__sub-categories {
    width: 47vw;

  }
  .left-menu__sub-categories__open {
    left: 47vw;
  }

  .header__search-basket__login {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-right: 15%;
  

  }
  
  .header__search-basket__sign-out {
    height: 100%;
    display: flex;
    margin-right: 30%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  
  }
  
  
  .header__search-basket__search {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30%;
    cursor: pointer;

  }
  
  



}
