.header {
  height: 6vh;
  width: 100vw;
  display: flex;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;

}

.header__categories {
  padding-left: 4%;
  width: 15%;
  font-size: smaller;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 900;
}
.header__categories__categori{
  z-index: 1;
  margin-right: 10%;
  cursor: pointer;
}



.header__categories__categori:after {
  background-color: #000000;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  transition: width .7s ease-in-out;
}
.header__categories__categori:hover:after,
.header__categories__categori:focus:after {
  width: 100%;
}


.header__logo {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__search-basket {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: flex-end;

}

.header__search-basket__basket {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30%;
}

.header__search-basket__search {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15%;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

button:active {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font: normal 16px/1.5 Helvetica, sans-serif;
}

.left-menu{
  left: -30vw;
  width: 30vw;
  height: 94vh;
  position: absolute;
  background:white;
}